<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Grafcet -->
      <package
            uri="http://Grafcet.fr"
            class="ensias.grafcet.sirius.Grafcet.GrafcetPackage"
            genModel="model/Grafcet.genmodel"/>
   </extension>

</plugin>
